button {
    background-color: #FF5D4F;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.36;
    padding: 11px 45px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
